# Mi titulo

### Mi subtitulo

- test1
- test 2

In [1]:
print("hello world")

hello world

In [2]:
print(1 + 1)

2

In [3]:
miStringVar = "hello world"

In [11]:
miStringVar = "hola mundo"

print(miStringVar)
print(type(miStringVar))

miStringVar = 12

print(miStringVar)
print(type(miStringVar))

hola mundo
<class 'str'>
12
<class 'int'>

In [17]:
myString = "my string"
print(myString)
print(type(myString))
print()

myInt = 123
print(myInt)
print(type(myInt))
print()

myFloat = 123.123
print(myFloat)
print(type(myFloat))
print()

myBool = True
print(myBool)
print(type(myBool))
print()

my string
<class 'str'>

123
<class 'int'>

123.123
<class 'float'>

True
<class 'bool'>

In [23]:
def myPrint(myVar):
    print(myVar)
    print(type(myVar))
    print()

In [26]:
myString = "my string"
myPrint(myString)

myPrint(123)

myFloat = 123.123
myPrint(myFloat)

myBool = True
myPrint(myBool)

my string
<class 'str'>

123
<class 'int'>

123.123
<class 'float'>

True
<class 'bool'>

In [42]:
def sum(a, b):
    return a + b

In [41]:
print(sum(2,4))

6

In [50]:
age = 12

if age >= 65:
    print("jubilado")
elif age >= 18:
    print("mayor")
else:
    print("es menor")

es menor

In [61]:
age = 500

if age >= 18 and age < 65 or age > 100 :
    print("mayor")
elif age >= 65:
    print("jubilado")
else:
    print("es menor")
    
    
# y = (2 + 4) * 10
# + es or
# * es and

mayor

In [67]:
month = 5

if month == 1:
    print("Enero")
elif month == 2:
    print("Febrero")
elif month == 3: 
    print("Marzo")
else:
    print("No existe el mes")

No existe el mes