# Vectores

Podemos guardar una secuencia de valores

In [25]:
my1Vec = [1,2,3,4,5,6]
print(my1Vec)
print(type(my1Vec))

my2Vect = []
print(my2Vect)
print(type(my2Vect))

my3Vec = list()
print(my3Vec)
print(type(my3Vec))

my4Vec = list([1])
print(my4Vec)
print(type(my4Vec))

my5Vec = [1,2,3,4,5,6,3,2,1,2,3,2,1]
print(my5Vec)
print(type(my5Vec))

my6Vec = [1,"2",3,"sarasa",6,3.12,1,2,True,1]
print(my6Vec)
print(type(my6Vec))

[1, 2, 3, 4, 5, 6]
<class 'list'>
[]
<class 'list'>
[]
<class 'list'>
[1]
<class 'list'>
[1, 2, 3, 4, 5, 6, 3, 2, 1, 2, 3, 2, 1]
<class 'list'>
[1, '2', 3, 'sarasa', 6, 3.12, 1, 2, True, 1]
<class 'list'>

# Bucle for

Nos ayuda a iterar con los vectores

In [39]:

ages = [29,35,53,23,90,10,100,78]
i = 0

for a in ages:
    i = i +1
    desc = ""
    if a >= 18:
        desc = "Es mayor"
    else:
        desc = "Es menor"
        
    print("Edad: {} - {} - Iteraciion: {}".format(a,desc, i))

Edad: 29 - Es mayor - Iteraciion: 1
Edad: 35 - Es mayor - Iteraciion: 2
Edad: 53 - Es mayor - Iteraciion: 3
Edad: 23 - Es mayor - Iteraciion: 4
Edad: 90 - Es mayor - Iteraciion: 5
Edad: 10 - Es menor - Iteraciion: 6
Edad: 100 - Es mayor - Iteraciion: 7
Edad: 78 - Es mayor - Iteraciion: 8

In [56]:
print(ages[0]) # Primer indice
print(ages[3]) # Cuarto indice
# print(ages[15]) Va a generar error porque el indice 15 no existe en el vector

print(len(ages)) # Tamaño del vector (en este caso es 8)
print(ages[len(ages) -1 ]) # Los vectores siempre inicializan en 0, tengo que trear el tamaño del vector - 1

29
23
8
78


# Bucle while

Nos ayuda a iterar con los vectores

In [58]:
i = 0

while i<10:
    i = i +1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
i = 0

while i < len(ages):
    print(ages[i])
    i = i +1

29
35
53
23
90
10
100
78

In [82]:
i = 0

while True:
    if i >= len(ages):
        break
    print(ages[i])
    
    i = i +1

29
35
53
23
95
10
100
78

# Modificar Vector

Podemos modificar los valores del vector y añader mas items (valores nuevos al vector)

In [79]:
ages[4]

90

In [80]:
ages[4] = 95

In [81]:
ages[4]

95

In [83]:
i = 0

while True:
    if i >= len(ages):
        break
    ages[i] = ages[i] + 1
    
    i = i +1

In [84]:
ages

[30, 36, 54, 24, 96, 11, 101, 79]

In [90]:
ages.append(20)

In [91]:
ages

[30, 36, 54, 24, 96, 11, 101, 79, [1, 2, 3], 1, 20]

In [94]:
# Borro valores por indice
del ages[8]

In [95]:
ages

[30, 36, 54, 24, 96, 11, 101, 79, 20]

In [96]:
# Borro valores por valor
ages.remove(30)

In [97]:
ages

[36, 54, 24, 96, 11, 101, 79, 20]

# Tuples

Son vectores que no pueden ser modificados

In [105]:
tuples = tuple([1,2,3,3,89,90,6])

In [106]:
tuples # se visualizan entre parentesis

(1, 2, 3, 3, 89, 90, 6)

In [110]:
type(tuples)

tuple

In [111]:
# Las tuplas no pueden ser modificadas, no puedo modificar valores ni agregar
# tuples[1] =1
# tuples.append(34)

# Diccionarios

Son representados por clave-valor, la clave debe ser unica

In [114]:
my1Dic = dict()
my2Dic = {}

In [116]:
my1Dic

{}

In [118]:
my3Dic = {
    "1": "Juan",
    "2": "Pedro",
    "3": "Goku"
}

In [123]:
print(my3Dic)
print(my3Dic["2"])

{'1': 'Juan', '2': 'Pedro', '3': 'Goku'}
Pedro

In [136]:
countries = {
    "AR": "Argentina",
    "CH": "Chile",
    "BR": "Brasil"
}



myDic = {
    "1": countries,
    "2": "Pedro",
    "3": ["test", "2", "lala"],
    "4": "Pedro"
}

In [137]:
myDic

{'1': {'AR': 'Argentina', 'CH': 'Chile', 'BR': 'Brasil'},
 '2': 'Pedro',
 '3': ['test', '2', 'lala'],
 '4': 'Pedro'}

In [141]:
for key, value in myDic.items():
    print(value)
    if value == "Pedro":
        print("la key: {} es Pedro".format(key))

{'AR': 'Argentina', 'CH': 'Chile', 'BR': 'Brasil'}
Pedro
la key: 2 es Pedro
['test', '2', 'lala']
Pedro
la key: 4 es Pedro

# Set

vactores sin valores repetidos

In [150]:
val = set([1,2,3,4, 1,2,3,4,5])

In [158]:
print(val)

# Puedo iterar como un vector comun
for x in val:
    print(x)

1
2
3
4
5

In [153]:

myListRepeat = [1,2,3,2,1,2,3,1,2,3,3,2,1,4,5,5,4]

In [155]:
myListRepeat

[1, 2, 3, 2, 1, 2, 3, 1, 2, 3, 3, 2, 1, 4, 5, 5, 4]

In [161]:
# Hago la conversion a set para que borre los duplicados y vuelvo a hacer una conversion a lista
MyListNoRepeat = list(set(myListRepeat))

print(type(MyListNoRepeat))
print(MyListNoRepeat)

<class 'list'>
[1, 2, 3, 4, 5]